@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

h1 {
  @apply text-8xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-2xl;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply rounded-none;
  font-family: "Pixel";
}

.btn.btn-ghost {
  @apply shadow-none;
}

.menu li > *:not(ul):not(.menu-title):not(details):hover,
.menu li > *:not(ul):not(.menu-title):not(details):active {
  @apply bg-primary;
  @apply rounded-none;
}

@font-face {
  font-family: "Pixel";
  src: url("../fonts/NeuePixelGrotesk.ttf") format("opentype");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/HelveticaNeueLTStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeueLTStd-Roman.otf") format("opentype");
}

@layer components {
  .grayscale {
    filter: grayscale(100%);
  }
}

@media (max-width: 640px) {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-lg;
  }
}
